.header-wraper{
    position: relative;
    background: url(../assets/img1.jpg) no-repeat;
    background-size: cover;
    background-position: center ;
    height: 90vh;
  }
  .main-info{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Poiret One';
    z-index: 1;
  }
  
  .main-info h1 {
    color: #fff;
    text-transform: uppercase;
  }
  
  .typed-text{
    font-size: 2rem;
    color: bisque;
  }
  
  .btn-main-offer{
    border: 1px solid #ef4035 ;
    text-transform: uppercase;
    border-radius: 0;
    padding: 10px 12px 12px 12px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
  }

  .btn-main-offer:hover{
    text-decoration: none;
    cursor: pointer;
    background: cornflowerblue;
    color: #fff;
    transition: 1.3s ease-in-out;
  }

  @media  (max-width: 768px) {
    .main-info h1 {
      font-size: 1.7rem;
      color: #fff;
      text-transform: uppercase;
    }
    .typed-text{
      font-size: 1.2rem;
      color: bisque;
    }
  }