
:root{
  --primary-white: #fff;
  --primary-orange: #f9ab00;
}

/*********************** Header*****************/
.loader{
 background-color: #36D7B7;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 text-align: center;
 right: 0;
 left: 0;
 top: 0;
 bottom: 0;
 width:100%;
 height: 100vh;
}

.loader .Header{
  font-family: 'Poiret One';
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 50px;
}